SUPABASE_URL=https://ggjzdlecfaogbwotjwyi.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdnanpkbGVjZmFvZ2J3b3Rqd3lpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM2MDYxMTksImV4cCI6MjA5OTE4MjExOX0.1BFtdTW5v4UJjwMOGzEXTD1y7i2rOnkj30MN2P3oCn8
